<li class="card">
  <button class="header">
    <div class="title">{{post.title}}</div>
    <div class="info">{{post.user_id}} on {{card.time}}</div>
  </button>
  <div class="body">{{card.description}}</div>
</li>