<li class="card">
  <button class="header">
    <div class="title">{{card.title}}</div>
    <div class="info">{{card.poster}} on {{card.date}}</div>
  </button>
  <div class="body">{{card.description}}</div>
</li>