<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <ul class="header-list">
        <li>
          <ul>
            <li>
              <button id="home-button" class="header-button">Home</button>
            </li>
            <li>
              <button id="dashboard-button" class="header-button">
                Dashboard
              </button>
            </li>
            <li style="display: none">
              <button id="logout-button" class="header-button">Logout</button>
            </li>
            <li>
              <button id="login-button" class="header-button">Login</button>
            </li>
          </ul>
        </li>

        <li><div id="logo">The Tech Blog</div></li>
      </ul>
    </header>
    <main>{{{body}}}</main>
    <script src=""></script>
  </body>
</html>