<div class="card">
  <button class="header">
    <div class="title">{{card.title}}</div>
    <div class="info">{{card.poster}} on {{card.date}}</div>
  </button>
  <div class="body">{{card.description}}</div>
</div>

<div class="card">
  <div class="header"></div>
  <div class="body">
    Comment
    <br />
    <textarea name="" id="commentinput" cols="30" rows="10"></textarea>
    <button id="submitbutton">Submit</button>
  </div>
</div>