<div id="login">
  <div id="header">Login</div>

  <form action="" id="form">
    <ul>
      <li>
        <label for="username">Username</label>
        <br />
        <input type="text" id="username" class="input" />
      </li>
      <li>
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" class="input" />
      </li>
      <li>
        <button type="button" id="submitbutton">Login</button>
        <br />
        <button type="button" id="toggle-login-reg">Sign Up</button>
      </li>
    </ul>
  </form>
</div>
<script src="/js/login.js"></script>