<div class="card">
  <div class="header">Create New Post</div>
  <div class="body">
    <li>
      <label for="titlearea">Title</label>
      <br />
      <textarea name="titlearea" id="titlearea" cols="30" rows="10"></textarea>
    </li>
    <li>
      <label for="contentarea">Content</label>
      <br />
      <textarea
        name="contentarea"
        id="contentarea"
        cols="30"
        rows="10"
      ></textarea>
    </li>
    <li class="commentli"></li>
  </div>
</div>

<button id="newpost">+ New Post</button>